:root {
  --el-border-radius-base: 6px;
  --el-border-radius-small: 6px;
  --el-border-radius-round: 6px;

  --el-text-color-regular: #303133;
  --el-text-color-secondary: #686a6e;
  --el-text-color-placeholder: #838588;
}
.el-tooltip__trigger:focus {
  outline: 0;
}
.el-textarea__inner {
  box-shadow: 0 0 0 1px var(--el-input-border-color, var(--el-border-color)) inset;
  background-color: #ffffff;
}
.el-textarea__inner:focus {
  /* background: var(--el-color-primary-light-9); */
}

html .el-table {
  --el-table-header-bg-color: #f5f5f5;
  --el-table-text-color: var(--el-text-color-primary);
  --el-table-row-hover-bg-color: #fafafa;
  --el-table-border-color: #f0f0f0;
}

html .el-table__header {
  --el-table-header-text-color: var(--el-text-color-primary);
}

.el-form-item__label {
  color: var(--el-text-color-primary);
}
.el-input__inner {
  --el-input-text-color: var(--el-text-color-primary);
}
